{%- if show_quick_add -%}
  <div class="quick-add no-js-hidden">
    {%- liquid
      assign product_form_id = 'quick-add-' | append: section_id | append: product.id
      assign qty_rules = false
      if product.selected_or_first_available_variant.quantity_rule.min > 1 or product.selected_or_first_available_variant.quantity_rule.max != null or product.selected_or_first_available_variant.quantity_rule.increment > 1
        assign qty_rules = true
      endif
    -%}
    {%- if product.variants.size > 1 or qty_rules -%}
      <modal-opener data-modal="#QuickAdd-{{ product.id }}">
        <button
          id="{{ product_form_id }}-submit"
          type="submit"
          name="add"
          class="button button--primary{% if horizontal_quick_add %} card--horizontal__quick-add animate-arrow{% endif %}"
          aria-haspopup="dialog"
          aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ product.id }}"
          data-product-url="{{ product.url }}"
        >
          {{ 'products.product.choose_options' | t }}
          {%- if horizontal_quick_add -%}
            <span class="icon-wrap">{% render 'icon-arrow' %}</span>
          {%- endif -%}
          <div class="loading-overlay__spinner hidden">
            <svg
              aria-hidden="true"
              focusable="false"
              class="spinner"
              viewBox="0 0 66 66"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
        </button>
      </modal-opener>
      <quick-add-modal id="QuickAdd-{{ product.id }}" class="quick-add-modal">
        <div
          role="dialog"
          aria-label="{{ 'products.product.choose_product_options' | t: product_name: product.title | escape }}"
          aria-modal="true"
          class="quick-add-modal__content global-settings-popup"
          tabindex="-1"
        >
          <button
            id="ModalClose-{{ product.id }}"
            type="button"
            class="quick-add-modal__toggle"
            aria-label="{{ 'accessibility.close' | t }}"
          >
            {% render 'icon-close' %}
          </button>
          <div id="QuickAddInfo-{{ product.id }}" class="quick-add-modal__content-info"></div>
        </div>
      </quick-add-modal>
    {%- else -%}
      <product-form>
        {%- form 'product',
          product,
          id: product_form_id,
          class: 'form',
          novalidate: 'novalidate',
          data-type: 'add-to-cart-form'
        -%}
          <input
            type="hidden"
            name="id"
            value="{{ product.selected_or_first_available_variant.id }}"
            disabled
          >
          <button
            id="{{ product_form_id }}-submit"
            type="submit"
            name="add"
            class="button button--primary{% if horizontal_quick_add %} card--horizontal__quick-add{% endif %}"
            aria-haspopup="dialog"
            aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ product.id }}"
            aria-live="polite"
            data-sold-out-message="true"
            {% if product.selected_or_first_available_variant.available == false %}
              disabled
            {% endif %}
          >
            <span>
              {%- if product.selected_or_first_available_variant.available -%}
                {{ 'products.product.add_to_cart' | t }}
              {%- else -%}
                {{ 'products.product.sold_out' | t }}
              {%- endif -%}
            </span>
            <span class="sold-out-message hidden">
              {{ 'products.product.sold_out' | t }}
            </span>
            {%- if horizontal_quick_add -%}
              <span class="icon-wrap">{% render 'icon-plus' %}</span>
            {%- endif -%}
            <div class="loading-overlay__spinner hidden">
              <svg
                aria-hidden="true"
                focusable="false"
                class="spinner"
                viewBox="0 0 66 66"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </button>
        {%- endform -%}
      </product-form>
    {%- endif -%}
  </div>
{%- endif -%}
