<style>
  .buy_section {
    text-align: center;
    padding: 64px 0px;
  }
</style>
{% assign product = section.settings.product %}
{% for block in section.blocks %}
  {% case block.type %}
    {% when 'caption' %}
      <p {{ block.shopify_attributes }}>{{ block.settings.text }}</p>
    {% when 'heading' %}
      <h2 {{ block.shopify_attributes }}>{{ block.settings.text }}</h2>
    {% when 'button' %}
      {% render 'add-to-cart' %}
    {% when 'rating' %}
      <div style="display: flex; justify-content: center;" {{ block.shopify_attributes }}>
        {% render 'star-rating', product: product %}
      </div>
    {% when 'price' %}
      <p>
        {{ product.price | money_without_trailing_zeros }}
        {% if block.settings.compare_at %}
          /
          <span style="text-decoration: line-through">
            {{- product.compare_at_price | money_without_trailing_zeros -}}
          </span>
        {%- endif %}
      </p>
  {% endcase %}
{% endfor %}

{% schema %}
{
  "name": "Buy Section",
  "tag": "section",
  "class": "buy_section page-width",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],
  "blocks": [
    {
      "type": "caption",
      "name": "Caption",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Caption",
          "default": "This is a caption"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Heading",
          "default": "This is a heading"
        }
      ]
    },
    {
      "type": "price",
      "name": "Price",
      "settings": [
        {
          "type": "checkbox",
          "id": "compare_at",
          "label": "Show compare at price",
          "default": true
        }
      ]
    },
    {
      "type": "rating",
      "name": "Rating"
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Button text",
          "default": "This is a button"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Button URL",
          "default": "/"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Buy Section",
      "blocks": [
        {
          "type": "caption",
          "settings": {
            "text": "This is a caption"
          }
        },
        {
          "type": "heading",
          "settings": {
            "text": "This is a heading"
          }
        },
        {
          "type": "button",
          "settings": {
            "text": "This is a button",
            "url": "/"
          }
        }
      ]
    }
  ]
}
{% endschema %}
