<style>
  .feature_video {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .content {
    max-width: 600px;
  }
</style>

<div>
  {% assign product = section.settings.product %}
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'rating' %}
        {% render 'star-rating', product: product %}
      {% when 'caption' %}
        <p>{{ block.settings.caption }}</p>
      {% when 'heading' %}
        <h2>{{ block.settings.heading }}</h2>
      {% when 'price' %}
        <p>
          {{ product.price | money_without_trailing_zeros }}
          {% if block.settings.compare_at %}
            /
            <span style="text-decoration: line-through">
              {{- product.compare_at_price | money_without_trailing_zeros -}}
            </span>
          {%- endif %}
        </p>
      {% when 'rich_text' %}
        <div style="max-width: 400px !important;">{{ block.settings.text }}</div>
    {% endcase %}
  {% endfor %}
  {% if section.settings.show_button %}
    {% render 'add-to-cart', product: product %}
  {% endif %}
</div>
<div>
  <video
    data-poster="{{ section.settings.video.preview_image }}"
    controls
    style="width: 100%;"
  >
    {% for source in section.settings.video.sources %}
      <source src="{{ source.url }}" type="{{ source.mime_type }}">
    {% endfor %}
  </video>
</div>

{% schema %}
{
  "name": "Feature with video",
  "class": "feature_video page-width",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
    {
      "type": "checkbox",
      "id": "show_button",
      "label": "Show buy button",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "rating",
      "name": "Star rating"
    },
    {
      "type": "step",
      "name": "Step",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
      ]
    },
    {
      "type": "caption",
      "name": "Caption",
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "label": "Caption"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "price",
      "name": "Price",
      "settings": [
        {
          "type": "checkbox",
          "id": "compare_at",
          "label": "Show compare at price",
          "default": true
        }
      ]
    },
    {
      "type": "rich_text",
      "name": "Rich text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Feature with video"
    }
  ]
}
{% endschema %}
{% comment %}
  todo:

  [] playing state for video button
  [] style steps
  [] style heading
  [] style caption
{% endcomment %}
