<style>
    .product-carousel-with-feature {
        padding: 48px 0px;
    }
  .{{ section.id }}__products_section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
  }
  .{{ section.id }}__products_section > div {
    max-width: 50%;
  }
  .{{ section.id }}__product_wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }

    .{{ section.id }}__center_link_outer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 48px;
    }
    .{{ section.id }}__center_link {
        text-decoration: none;
        border-bottom: 2px solid rgb(var(--color-base-solid-button-labels));
        color: rgba(var(--color-foreground), 0.75);
    }
    .{{ section.id }}__center_link_inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .feather.feather-arrow-right {
        margin-left: 8px;
        height: 16px;
        width: 16px;
    }
    .featured__product__title > a {
        font-family: var(--font-heading-family);
        font-weight: 700;
        font-size: 20px;
        color:rgba(var(--color-foreground), 1)
    }

    /* product card */
    .product--card_content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .product--price {
      font-size: 18px;
      margin-top: 12px;
      margin-bottom: 12px;
    }
    .product--title {
      max-width: 250px;
      font-size: 20px;
    }
    .product--title > a {
      text-decoration: none;
      color:rgba(var(--color-foreground), 1)
    }
    /* add to bag */
    .wp_add_to_cart {
      cursor: pointer;
      background-color: rgb(var(--color-base-solid-button-labels));
      transition: background 200ms ease-in-out;
    }
    .wp_add_to_cart:hover {
      background-color: #FFCC32;
    }
    /* swiper */
    .swiper-slide {
      padding-bottom: 20px;
    }
    div .swiper-pagination {
      transform: translate3d(0, 20px, 0);
    }
</style>
<div class="">
  {% if section.settings.title != blank %}
    <div class="">
      {{ section.settings.title }}
    </div>
  {% endif %}
  <div class="{{ section.id }}__products_section">
    {% render 'product-card-1', product: section.settings.product %}
    <div class="{{ section.id }}__swiper swiper">
      <div class="swiper-wrapper">
        {% for product in section.settings.collection.products limit: 4 %}
          {% render 'product-card-1', product: product, class: 'swiper-slide' %}
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <div class="{{ section.id }}__center_link_outer">
    <a href="{{ section.settings.url }}" class="{{ section.id }}__center_link">
      <div class="{{ section.id }}__center_link_inner">
        <div style="padding-bottom: 0px;">{{ section.settings.link_text }}</div>
        {% render 'arrow-right' %}
      </div>
    </a>
  </div>
</div>
<script>
  window['swiper_' + '{{ section.id }}'];

  window['swiper_' + '{{ section.id }}'] = new Swiper('.{{ section.id }}__swiper', {
    // Optional parameters
    loop: true,

    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>
{% schema %}
{
  "name": "Product Carousel",
  "tag": "section",
  "class": "product-carousel-with-feature page-width",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "header",
      "content": "Product & collection"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "header",
      "content": "Product card settings"
    },
    {
      "type": "checkbox",
      "id": "show_reviews",
      "label": "Show reviews",
      "default": true
    },
    {
      "type": "header",
      "content": "Link settings"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Link"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text"
    }
  ],
  "presets": [
    {
      "name": "Product Carousel"
    }
  ]
}
{% endschema %}

{% comment %}
  todo
{% endcomment %}
