<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<style>
    .product-carousel-with-feature {
        padding: 48px 0px;
    }
  .{{ section.id }}__products_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }
  .{{ section.id }}__products_section > div {
    max-width: 50%;
  }
  .{{ section.id }}__product_wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }
  .wp_add_to_cart {
    cursor: pointer;
    background-color: rgb(var(--color-base-solid-button-labels));
  }
    .{{ section.id }}__center_link_outer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 48px;
    }
    .{{ section.id }}__center_link {
        text-decoration: none;
        border-bottom: 2px solid rgb(var(--color-base-solid-button-labels));
        color: rgba(var(--color-foreground), 0.75);
    }
    .{{ section.id }}__center_link_inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .feather.feather-arrow-right {
        margin-left: 8px;
        height: 16px;
        width: 16px;
    }
    .featured__product__title > a {
        font-family: var(--font-heading-family);
        font-weight: 700;
        font-size: 20px;
        color:rgba(var(--color-foreground), 1)
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<div class="">
  <div class="">
    {{ section.settings.title }}
  </div>
  <div class="{{ section.id }}__products_section">
    <div class="{{ section.id }}__product_wrap">
      <div class="">
        <a href="{{ section.settings.product.url }}">
          <img
            src="{{ section.settings.product.featured_image | img_url: '320x320' }}"
            alt="{{ section.settings.product.title }}"
          >
        </a>
      </div>
      <div class="">
        <div class="featured__product__title">
          <a href="{{ section.settings.product.url }}">
            {{ section.settings.product.title }}
          </a>
        </div>
        <div class="">
          {{ section.settings.product.price | money }}
        </div>
        <button class="wp_add_to_cart wp__button">Add to bag</button>
      </div>
    </div>
    <div class="{{ section.id }}__swiper swiper">
      <div class="swiper-wrapper">
        {% for product in section.settings.collection.products limit: 4 %}
          <div class="swiper-slide {{ section.id }}__product_wrap">
            <div class="">
              <a href="{{ product.url }}">
                <img src="{{ product.featured_image | img_url: '320x320' }}" alt="{{ product.title }}">
              </a>
            </div>
            <div class="">
              <div class="featured__product__title">
                <a href="{{ product.url }}">
                  {{ product.title }}
                </a>
              </div>
              <div class="">
                {{ product.price | money }}
              </div>
              <button class="wp_add_to_cart wp__button">Add to bag</button>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <div class="{{ section.id }}__center_link_outer">
    <a href="{{ section.settings.url }}" class="{{ section.id }}__center_link">
      <div class="{{ section.id }}__center_link_inner">
        <div style="padding-bottom: 0px;">{{ section.settings.link_text }}</div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-arrow-right"
        >
          <line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline>
        </svg>
      </div>
    </a>
  </div>
</div>
<script>
  const swiper = new Swiper('.{{ section.id }}__swiper', {
    // Optional parameters
    loop: true,

    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>
{% schema %}
{
  "name": "Product Carousel",
  "tag": "section",
  "class": "product-carousel-with-feature page-width",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "header",
      "content": "Link"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Link"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text"
    }
  ]
}
{% endschema %}
