{% style %}
  .clean-b-home {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
  }
  .ingredient_card {
    border: 1px solid rgba(var(--color-foreground), 0.05);
    border-radius: 10px;
    overflow: hidden;
  }
  .placeholder-svg-ingredient {
    background-color: lightyellow;
    width: 100%;
    height: auto;
  }
  .video_wrapper {
    position: sticky;
    top: 100px;
  }
  .clean-b-home__content_container {
    max-width: 50%;
  }
  .how_it_works {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .how_it_works--title span {
    border-bottom: 2px solid rgba(var(--color-button), var(--alpha-button-background));
  }
  .video_player {
    max-height: 720px;
    border-radius: 10px;
  }
  .clean-b-pagination {
    transform: translate3d(0, 10px, 0) !important;
  }
  @media (max-width: 465px) {
    .clean-b-home {
      flex-direction: column-reverse;
    }
    .video_wrapper {
      position: relative;
      top: 0px;
      text-align: center;
    }
    .video_player {
      max-height: none;
      max-width: 80%;
    }
    .clean-b-home__content_container {
      max-width: 100%;
      text-align: center;
    }
    .how_it_works {
      padding-top: 36px;
    }
  }
{% endstyle %}
{% assign product = section.settings.product %}
<div class="clean-b-home__content_container">
  <p>{{ section.settings.caption }}</p>
  <h2>{{ section.settings.heading }}</h2>
  <p>{{ section.settings.rich_text }}</p>
  {% if section.settings.product != blank %}
    <div style="margin-bottom: 12px;">{% render 'price', product: product %}</div>
    {% render 'add-to-cart', product: product, show_quick_add: true %}
  {% endif %}
  <div class="how_it_works">
    <h3 class="how_it_works--title">
      <span>{{ section.settings.steps_title }}</span>
    </h3>
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'step' %}
          <div
            style="display: grid; grid-template-columns: 1fr 4fr; padding: 4px; margin-bottom: 24px;"
            {{ block.shopify_attributes }}
          >
            {% if block.settings.image != blank %}
              <img
                src="{{ block.settings.image | img_url: '192x192' }}"
                alt="{{ block.settings.image.alt | escape }}"
                height="128"
                width="128"
                loading="lazy"
              >
            {% else %}
              <div style="max-width: 192px;">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
            {% endif %}
            <div class="text-align: left !important;">
              <h4 style="margin-top: 0px;">{{ block.settings.title }}</h4>
              <p>{{ block.settings.text }}</p>
            </div>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
  <div>
    <h3>{{ section.settings.ingredients_title }}</h3>
    <div class="swiper {{ section.id }}__swiper">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'ingredient' %}
              <div class="swiper-slide" {{ block.shopify_attributes }}>
                <div class="ingredient_card shadow">
                  {% if block.settings.image != blank %}
                    <img
                      src="{{ block.settings.image | image_url }}"
                      alt="{{ block.settings.image.alt | escape }}"
                      style="object-fit: cover; max-width: 100%;"
                      loading="lazy"
                    >
                  {% else %}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  {% endif %}
                  <div style="padding: 12px;">
                    <h4 style="margin: 0px;">{{ block.settings.title }}</h4>
                    <p style="margin: 0px;">{{ block.settings.subtitle }}</p>
                  </div>
                </div>
              </div>
          {% endcase %}
        {% endfor %}
      </div>
      <div class="swiper-pagination clean-b-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>
<div class="video_wrapper">
  <video
    data-poster="{{ section.settings.video.preview_image }}"
    controls
    class="video_player"
  >
    {% for source in section.settings.video.sources %}
      <source src="{{ source.url }}" type="{{ source.mime_type }}">
    {% endfor %}
  </video>
</div>
<script>
  var ingredients_swiper = new Swiper('.{{ section.id }}__swiper', {
    loop: true,
    pagination: {
      el: '.clean-b-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    autoplay: {
      delay: 2200,
    },
  });
</script>
{% schema %}
{
  "name": "[Home] Clean B",
  "tag": "section",
  "class": "clean-b-home page-width",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
    {
      "type": "header",
      "content": "Main section content"
    },
    {
      "type": "text",
      "id": "caption",
      "label": "Caption",
      "default": "Caption"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "richtext",
      "id": "rich_text",
      "label": "Rich text"
    },
    {
      "type": "header",
      "content": "How it works"
    },
    {
      "type": "text",
      "id": "steps_title",
      "label": "Title",
      "default": "Title"
    },
    {
      "type": "header",
      "content": "Ingredients"
    },
    {
      "type": "text",
      "id": "ingredients_title",
      "label": "Title",
      "default": "Title"
    }
  ],
  "blocks": [
    {
      "type": "step",
      "name": "Step block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Text"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "ingredient",
      "name": "Ingredient block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "Subtitle"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "[Home] Clean B Feature",
      "blocks": [
        {
          "type": "step",
          "settings": {
            "title": "Title",
            "text": "Text"
          }
        }
      ]
    }
  ]
}
{% endschema %}
