<style>
  #shopify-section-{{ section.id }} {
    background-color: {{ section.settings.background-color }};
  }
  .icons_section {
    padding: 24px 50px;
  }
  .{{ section.id }}__icon-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 960px;
    margin: 0 auto;
  }
  .{{ section.id }}__title {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    font-family: var(--font-heading-family);
    font-weight: 600 !important;
    margin: 0px auto;
  }
  .{{ section.id }}__icon {
    text-align: center;
  }
  /* placehooder svg */
  .placeholder-svg {
    width: 128px;
    height: 128px;
  }
  @media screen and (max-width: 465px){
    .icons_section {
      padding: 24px 20px;
    }
    .{{ section.id }}__icon-wrapper {
      flex-direction: column;
      align-items: center;
    }
  }
</style>
<div class="{{ section.id}}__icon-wrapper">
  {% for block in section.blocks %}
    <div class="{{ section.id }}__icon" {{ block.shopify_attributes }}>
      {% if block.settings.image != blank %}
        <img
          src="{{ block.settings.image | image_url: width: block.settings.width }}"
          alt="{{ block.settings.title }}"
          loading="eager"
        >
      {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
      <p class="{{ section.id }}__title">{{ block.settings.title }}</p>
    </div>
  {% endfor %}
</div>
{% schema %}
{
  "name": "Icons",
  "tag": "section",
  "class": "icons_section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "color",
      "id": "background-color",
      "label": "Background Color"
    }
  ],
  "blocks": [
    {
      "name": "Icon",
      "type": "icon",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "range",
          "id": "width",
          "label": "Width",
          "min": 64,
          "max": 128,
          "step": 4,
          "unit": "px",
          "default": 96
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icons",
      "blocks": [
        {
          "type": "icon",
          "settings": {
            "title": "Icon 1"
          }
        },
        {
          "type": "icon",
          "settings": {
            "title": "Icon 2"
          }
        },
        {
          "type": "icon",
          "settings": {
            "title": "Icon 3"
          }
        },
        {
          "type": "icon",
          "settings": {
            "title": "Icon 4"
          }
        }
      ]
    }
  ]
}
{% endschema %}
