<style>
  .img-with-text--{{ section.id}}{
    display: grid;
    grid-template-columns: {% if section.settings.img_pos == "left"%}30% 65% {%else %}
      65% 30%{% endif %};
    gap: 80px;
  }

  .img-with-text img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 10px;
  }

  .img-with-text__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media screen and (max-width: 800px) {
    .img-with-text {
      grid-template-columns: 1fr;
      gap: 12px;
    }
    .img-with-text img {
      grid-row: 1;
    }
  }
</style>
{% capture image %}
  {% if section.settings.img != blank %}
    <img src="{{section.settings.img | img_url: 'large'}}" alt="{{section.settings.img.alt}}">
  {% else %}
  {{ 'image' | placeholder_svg_tag }}
  {% endif %}
{% endcapture %}

<div class="img-with-text img-with-text--{{section.id}} custom-container">
  {% if section.settings.img_pos == 'left' %}
    {{ image }}
  {% endif %}
  <div class="img-with-text__text">
    <h2>{{ section.settings.heading }}</h2>
    <div>{{ section.settings.content }}</div>
  </div>

  {% unless section.settings.img_pos == 'left' %}
    {{ image }}
  {% endunless %}
</div>

{% schema %}
{
  "name": "Simple Image with Text",
  "class": "simple-image-with-text page-width",
  "settings": [
    {
      "type": "image_picker",
      "id": "img",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "select",
      "id": "img_pos",
      "label": "Image Position",
      "options": [
        {
          "label": "Right",
          "value": "right"
        },
        {
          "label": "Left",
          "value": "left"
        }
      ],
      "default": "left"
    }
  ],
  "presets": [
    {
      "name": "Simple Image with Text",
      "settings": {
        "heading": "Commodo nisi tempor Lorem proident dolore.",
        "content": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
        "img_pos": "left"
      }
    }
  ]
}
{% endschema %}
