<style>
    .ingredients_feature {
        text-align: center;
    }
  .ingredients_feature--ingredient_wrap {
    max-width: 960px;
    margin: 0 auto;
  display: grid;
    {% comment %} grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); {% endcomment %}
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
  }
</style>

{% if section.settings.caption != blank %}
  <p>{{ section.settings.caption }}</p>
{% endif %}

{% if section.settings.title != blank %}
  <h2>{{ section.settings.title }}</h2>
{% endif %}

{% if section.settings.description != blank %}
  <p>{{ section.settings.description }}</p>
{% endif %}

<div class="ingredients_feature--ingredient_wrap">
  {% for block in section.blocks %}
    <div class="ingredient" {{ block.shopify_attributes }}>
      {% if block.settings.image != blank %}
        <img
          src="{{ block.settings.image | image_url: width: 256 }}"
          height="{{ block.settings.image.height }}"
          width="{{ block.settings.image.width }}"
          loading="lazy"
          alt="{{ block.settings.ingredient_name }}"
        >
      {% else %}
        <style>
          .placeholder-svg {
            width: 100%;
            height: 100%;
          }
        </style>
        <div>{{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}</div>
      {% endif %}
      <h3>{{ block.settings.ingredient_name }}</h3>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Ingredients Feature",
  "tag": "section",
  "class": "ingredients_feature page-width",
  "settings": [
    {
      "type": "text",
      "id": "caption",
      "label": "Caption",
      "default": "What's inside?"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Clean Ingredients For Clear Skin"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    }
  ],
  "blocks": [
    {
      "type": "ingredient",
      "name": "Ingredient",
      "settings": [
        {
          "type": "text",
          "id": "ingredient_name",
          "default": "Ingredient Name",
          "label": "Ingredient Name"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Ingredients Feature"
    }
  ]
}
{% endschema %}
