<style>
  .our_promise {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 48px;
  }
  .our_promise--image_wrap {
    max-width: 50%;
  }
  .our_promise--image_wrap > img {
    width: 100%;
    object-fit: contain;
  }
  .our_promise--content {
    padding: 48px;
  }
  .our_promise--block_icon_wrap {
    display: flex;
    align-items: center;
    margin: 24px 0px;
  }
  .our_promise--block_icon_wrap h4 {
    margin: 0 0 12px 0;
  }
  .our_promise--block_icon_wrap p {
    margin: 0;
  }
  .our_promise--block_icon_wrap > img {
    width: 64px;
    height: 64px;
    margin: 0 auto;
  }
  .placeholder-svg-{{ section.id }} {
    width: 100%;
    height: 100%;
  }
</style>

<div class="our_promise--image_wrap">
  {% if section.settings.image != blank %}
    <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.image.alt | escape }}">
  {% else %}
    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
  {% endif %}
</div>
<div class="our_promise--content">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'caption' %}
        <div {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
      {% when 'heading' %}
        <h2 {{ block.shopify_attributes }}>{{ block.settings.text }}</h2>
      {% when 'paragraph' %}
        <div {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
      {% when 'icon_block' %}
        <div class="our_promise--block_icon_wrap" {{ block.shopify_attributes }}>
          <div class="our_promise--block_icon_wrap">
            {% if block.settings.image != blank %}
              <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt | escape }}">
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
          <div>
            <h4>{{ block.settings.title }}</h4>
            <p>{{ block.settings.text }}</p>
          </div>
        </div>
    {% endcase %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Our Promise",
  "tag": "section",
  "class": "our_promise page-width",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Main image"
    }
  ],
  "blocks": [
    {
      "type": "caption",
      "name": "Caption",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Our Promise"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "Paragraph",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>We are committed to providing the best quality products and services to our customers. We are committed to providing the best quality products and services to our customers. We are committed to providing the best quality products and services to our customers.</p>"
        }
      ]
    },
    {
      "type": "icon_block",
      "name": "Icon Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Text"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Our Promise",
      "blocks": [
        {
          "type": "caption",
          "settings": {
            "text": "Our Promise"
          }
        },
        {
          "type": "heading",
          "settings": {
            "text": "Our Promise"
          }
        },
        {
          "type": "paragraph",
          "settings": {
            "text": "<p>We are committed to providing the best quality products and services to our customers. We are committed to providing the best quality products and services to our customers. We are committed to providing the best quality products and services to our customers.</p>"
          }
        },
        {
          "type": "icon_block",
          "settings": {
            "title": "Title",
            "text": "Text"
          }
        },
        {
          "type": "icon_block",
          "settings": {
            "title": "Title",
            "text": "Text"
          }
        },
        {
          "type": "icon_block",
          "settings": {
            "title": "Title",
            "text": "Text"
          }
        }
      ]
    }
  ]
}
{% endschema %}
