<style>
  .points-quote {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-right: 0;
  }

  .points-quote__heading {
    margin-bottom: 0;
  }

  .points-quote__subheading {
    margin-bottom: 60px;
  }

  .points-quote__points {
    padding: 20px 0;
    padding-left: 40px;
  }

  .points-quote__point {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .points-quote__img {
    width: 64px;
  }

  .points-quote__quote {
    background-color: #ffcc32;
    border-radius: 10px 0 0 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }

  .quote__img {
    width: 92px;
    border-radius: 50%;
    border: 2px solid rgb(var(--color-background));
  }

  .quote__stars {
    display: flex;
    gap: 4px;
    margin-top: 8px;
  }

  .quote__star {
    width: 20px;
  }

  .quote__star path {
    fill: black;
  }

  .quote__text {
    font-style: italic;
    margin: 0;
  }

  @media screen and (max-width: 800px) {
    .points-quote {
      grid-template-columns: 1fr;
      padding-right: 12px;
    }

    .points-quote__points {
      text-align: center;
      padding-left: 0px;
    }

    .points-quote__heading {
      font-size: 60px;
    }

    .points-quote__subheading {
      margin-bottom: 12px;
      font-size: 18px;
    }

    .points-quote__quote {
      grid-row: 1;
      border-radius: 10px;
    }

    .quote__text {
      font-size: 72px;
      margin: 0;
    }

    .quote__star {
      width: 30px;
    }

    .quote__author {
      font-size: 20px;
    }

    .points-quote__point {
      flex-direction: column;
      {% comment %} font-size: 1.75rem; {% endcomment %}
    }
  }
</style>

<div class="custom-container points-quote">
  <div class="points-quote__points">
    <h1 class="points-quote__heading">{{ section.settings.heading }}</h1>
    <div class="points-quote__subheading">{{ section.settings.subheading }}</div>
    {% for block in section.blocks %}
      <div class="points-quote__point">
        <img class="points-quote__img" src="{{block.settings.image | img_url: 'medium'}}">
        <p>{{ block.settings.text }}</p>
      </div>
    {% endfor %}
  </div>
  <div class="points-quote__quote">
    <img class="quote__img" src="{{section.settings.image | img_url: 'medium'}}">
    <div class="quote__stars">
      {% for i in (1..5) %}
        <div class="quote__star">
          {% render 'icon-star' %}
        </div>
      {% endfor %}
    </div>
    <h1 class="quote__text">{{ section.settings.quote }}</h1>
    <div class="quote__author">{{ section.settings.author }}</div>
  </div>
</div>

{% schema %}
{
  "name": "Points and Quote",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "quote",
      "label": "Quote"
    },
    {
      "type": "text",
      "id": "author",
      "label": "Author"
    }
  ],
  "blocks": [
    {
      "name": "Point",
      "type": "point",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Points and Quote"
    }
  ]
}
{% endschema %}
