{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{%- if section.settings.enable_quick_add -%}
  <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
<style>
  .product-carousel-with-feature {
      padding-top: 48px;
      padding-bottom: 48px;
  }
  .{{ section.id }}__products_section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 64px;
  }
  .{{ section.id }}__products_section > div {
    max-width: calc(50% - 32px);
  }
  .{{ section.id }}__product_wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }
  .{{ section.id }}__center_link_outer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 48px;
  }
  .{{ section.id }}__center_link {
      text-decoration: none;
      border-bottom: 2px solid rgb(var(--color-base-solid-button-labels));
      color: rgba(var(--color-foreground), 0.75);
  }
  .{{ section.id }}__center_link_inner {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  /* swiper */
  .{{ section.id }}__swiper {
    margin: 0px;
    height: 100%;
  }
  div .swiper-pagination {
    transform: translate3d(0, 18px, 0);
  }
  .swiper-pagination-bullet {
    height: 4px;
    width: 36px;
    border-radius: 0px;
  }
  .swiper-pagination-bullet-active {
    background-color: rgba(var(--color-button), var(--alpha-button-background));
  }
</style>
<div class="">
  {% if section.settings.title != blank %}
    <div class="">
      {{ section.settings.title }}
    </div>
  {% endif %}
  <div class="{{ section.id }}__products_section">
    {% comment %} {% render 'product-card-1', product: section.settings.product %} {% endcomment %}
    <div class="swiper-slide">
      {% render 'card-product',
        card_product: section.settings.product,
        media_aspect_ratio: section.settings.image_ratio,
        show_secondary_image: section.settings.show_secondary_image,
        show_vendor: section.settings.show_vendor,
        show_rating: section.settings.show_rating,
        show_quick_add: section.settings.enable_quick_add,
        section_id: section.id
      %}
    </div>
    <div class="{{ section.id }}__swiper swiper">
      <div class="swiper-wrapper">
        {% for product in section.settings.collection.products limit: 4 %}
          {% comment %} {% render 'product-card-1', product: product, class: 'swiper-slide' %} {% endcomment %}
          <div class="swiper-slide">
            {% render 'card-product',
              card_product: product,
              media_aspect_ratio: section.settings.image_ratio,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating,
              show_quick_add: section.settings.enable_quick_add,
              section_id: section.id
            %}
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  {% if section.settings.link_text and section.settings.url %}
    <div class="{{ section.id }}__center_link_outer">
      {% render 'text-link', url: section.settings.url, text: section.settings.link_text %}
    </div>
  {% endif %}
</div>
<script>
  window['swiper_' + '{{ section.id }}'];

  window['swiper_' + '{{ section.id }}'] = new Swiper('.{{ section.id }}__swiper', {
    // Optional parameters
    loop: true,

    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
      {% comment %} bulletActiveClass: 'custom-swiper-pagination-bullet-active',
      bulletClass: 'custom-swiper-pagination-bullet', {% endcomment %}
    },
  });
</script>
{% schema %}
{
  "name": "Product Carousel",
  "tag": "section",
  "class": "product-carousel-with-feature page-width",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "header",
      "content": "Product & collection"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_rating.label",
      "info": "t:sections.featured-collection.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.featured-collection.settings.enable_quick_buy.label"
    },
    {
      "type": "header",
      "content": "Link settings"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Link"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text"
    }
  ],
  "presets": [
    {
      "name": "Product Carousel"
    }
  ]
}
{% endschema %}
