{% render 'steps-styles' %}

<div class="steps custom-container page-width">
  <div class="steps__container">
    {{ section.settings.video | video_tag: image_size: '1000x', loop: true, muted: false, controls: true }}
  </div>
  <div>
    <h1 class="steps__heading">{{ section.settings.heading }}</h1>
    <div>{{ section.settings.subheading }}</div>
    <div class="steps__hexagons">
      {% for block in section.blocks %}
        <div class="steps__step" {{ block.shopify_attributes }}>
          <div class="step__img">
            {% render 'hexagon' %}
            <div class="step__number">{{ forloop.index }}</div>
          </div>
          <div class="step__text">{{ block.settings.text }}</div>
        </div>
      {% endfor %}
    </div>
  </div>

  <img
    class="steps__corner-img"
    src="https://cdn.shopify.com/s/files/1/0127/8885/8939/files/honey_yellow.png?v=1676266637"
  >
</div>

{% schema %}
{
  "name": "Steps",
  "settings": [
    {
      "type": "text",
      "label": "Heading",
      "id": "heading"
    },
    {
      "type": "text",
      "label": "Subheading",
      "id": "subheading"
    },
    {
      "type": "video",
      "label": "Video",
      "id": "video"
    }
  ],
  "blocks": [
    {
      "name": "Step",
      "type": "step",
      "settings": [
        {
          "id": "text",
          "type": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Steps"
    }
  ]
}
{% endschema %}
