{% style %}
  .ugc_reviews-content_wrap {
    padding: 64px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ugc_reviews-review_content {
    min-width: 50%;
  }
{% endstyle %}
<div class="ugc_reviews-content_wrap">
  <div class="ugc_reviews-review_content">
    {% comment %} todo: add these as blocks to move around {% endcomment %}
    <p>{{ section.settings.caption }}</p>
    <h2>{{ section.settings.title }}</h2>
    <p>{{ section.settings.description }}</p>
  </div>
  <div class="swiper ugc-reviews-swiper-{{ section.id }}">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide">
          <div class="review">
            <div class="review__image">
              {% if block.settings.image %}
                <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.name }}">
              {% endif %}
            </div>
            <div class="review__content">
              <p>{{ block.settings.content }}</p>
            </div>
            <div class="review__footer">
              <div class="review__name">
                <p>{{ block.settings.name }}</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<div>
  <a>see all reviews</a>
</div>
<script>
  const swiper_ugc = new Swiper('.ugc-reviews-swiper-{{ section.id }}', {
    // Optional parameters
    loop: true,

    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>
{% schema %}
{
  "name": "UGC Reviews",
  "class": "ugc-reviews page-width",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Reviews"
    },
    {
      "type": "text",
      "id": "caption",
      "label": "Caption",
      "default": "What our customers say"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "We love our customers and they love us back. Here are some of the kind words they have to say about us."
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "UGC Reviews"
    }
  ]
}
{% endschema %}
{% comment %}
  todo
{% endcomment %}
